
.Timer {
  text-align:left;
}

.Timer-header {
  background-color: ;
  font-style: normal;
  min-height: 5vh;
  display: inline;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #884b2e;
}
